.boke-list
  - @bokes.each do |boke,odai|
    .boke-photo
      .boke-photo-content
        = link_to "" do
          = link_to image_tag(boke.odai.image),new_odai_boke_path(boke.odai)
        .boke-photo-meta
          = link_to "" do
            %i.fas.fa-camera
            = boke.odai.user.name
          &nbsp;
          =link_to "" do
            %i.far.fa-image
            = boke.odai.user.name
    = link_to boke.text,"",class: "boke-text"
    .boke-meta
    .boke-information
      .boke-information-row.is-360
        .boke-stars
          = link_to "" do
            %i.fas.fa-star{style:"color:#ebbf2a"}
            = boke.status_calculation(boke.id,boke.stars)
        .boke-information-label
          = link_to boke.created_at.to_s(:date),boke_path(boke.id)
        %span.boke-share-social
          = link_to "" do
            %i.fab.fa-facebook-f
        %span.boke-share-social
          = link_to "" do
            %i.fab.fa-twitter
    .boke-information-row.ng-scope
      .boke-rate
        %i.fas.fa-times-circle.boke-rate-times{"data-id": "#{boke.id}"}
        -if user_signed_in?
          - if boke.star_user(current_user.id,boke.id)
            -if boke.star_status_3(current_user.id,boke.id)
              %span.boke-rating
                .a.test1.star-3.decrement.fas.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                  .fukidashi1
                    %p.fukidashi-text
                      最高に面白い
                .a.test1.star-2.decrement.fas.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                  .fukidashi1
                    %p.fukidashi-text
                      すごく面白い
                .a.test1.star-1.decrement.fas.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                  .fukidashi1
                    %p.fukidashi-text
                      面白いーー

            -elsif boke.star_status_2(current_user.id,boke.id)
              %span.boke-rating
                .a.test1.star-3.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                  .fukidashi1
                    %p.fukidashi-text
                      最高に面白い
                .a.test1.star-2.decrement.fas.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                  .fukidashi1
                    %p.fukidashi-text
                      すごく面白い
                .a.test1.star-1.decrement.fas.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                  .fukidashi1
                    %p.fukidashi-text
                      面白いーー

            -elsif boke.star_status_1(current_user.id,boke.id)
              %span.boke-rating
                .a.test1.star-3.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                  .fukidashi1
                    %p.fukidashi-text
                      最高に面白い
                .a.test1.star-2.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                  .fukidashi1
                    %p.fukidashi-text
                      すごく面白い
                .a.test1.star-1.decrement.fas.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                  .fukidashi1
                    %p.fukidashi-text
                      面白いーー

          -else
            %span.boke-rating
              .a.test1.star-3.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                .fukidashi1
                  %p.fukidashi-text
                    最高に面白い
              .a.test1.star-2.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                .fukidashi1
                  %p.fukidashi-text
                    すごく面白い
              .a.test1.star-1.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                .fukidashi1
                  %p.fukidashi-text
                    面白いーー

        -else
          %span.boke-rating
            .a.test1.star-3.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
              .fukidashi1
                %p.fukidashi-text
                  最高に面白い
            .a.test1.star-2.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
              .fukidashi1
                %p.fukidashi-text
                  すごく面白い
            .a.test1.star-1.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
              .fukidashi1
                %p.fukidashi-text
                  面白いーー
      -if user_signed_in?
        .comment-action-parts
          %p
            %img.user-icon{:src => "//d3pb2x7032n52.cloudfront.net/static/images/user_icon.gif"}
            = link_to "" do
              %b.ng-binding.sample_user
                = boke.user.name
            さんのボケです

          - if @user_comment = Comment.where(boke_id: boke.id).find_by(user_id: current_user.id)
            - @comment = @user_comment
            - @url = "/bokes/#{@comment.boke_id}/comments/#{@comment.id}"
          - else
            - @comment = Comment.new
            - @url = "/bokes/#{boke.id}/comments"
          %input.user_comment{:type => "hidden", "data-comment" => @comment.text, "data-url" => @url}

          -# コメントボタン ----------
          .comment-area.text-center#comment_btn{"aria-hidden" => "true", :style => "display: none;"}
            %button.btn.btn-default コメントする

          -# コメント編集ボタン ----------
          .comment-area.text-center.ng-hide#comment_edit{"aria-hidden" => "true", :style => "display: none;"}
            .boke-comment-input
              .form-inline.ng-pristine.ng-valid
                %img.user-icon{:src => current_user.image}
                %b.ng-binding
                  = @comment.text
                &nbsp;
                %button.btn.btn-default
                  コメントを編集する

          -# コメントフォーム -----
          .comment-action{"aria-hidden" => "true", :style => "display: none;"}
            .comment-area
              .row.boke-comment-input{:style => "margin:0 0 0 1em;"}
                %label.col-sm-2.pull-left{:style => "margin-top:0.5em;"} コメント
                = form_for @comment, url: @url, html: {:class => "input-group col-sm-9 ng-pristine ng-valid"} do |f|
                  = f.text_field :text, class: "form-control ng-pristine ng-valid", placeholder: "コメントを入力", value: @comment.text
                  %span.input-group-btn
                    = f.submit "送信", class: "btn btn-default"
                %span.col-sm-1.pull-left
                  %button.close{:type => "button"}
                    %span ×

          .alert.alert-danger{"aria-hidden" => "true", :style => "display: none;"}
            %ul{:style => "list-style-type:none"}
              %li
                %span.ng-binding.ng-scope
                  エラーが発生しました

    .boke
