.main
  = render 'shared/header'
  #wrapper
    #container
      #header-news
        %span#header-news-catch
          %h1.header-news-catch-heading
        %span#header-news-stats
          ボケ投稿数
          %b
            65450600
          件&nbsp;お題投稿数
          %b
            111223
          件&nbsp;

      #main-container
        .content-menu
          %ul.content-menu-list.inline-list
            %li.content-menu-list-active
              = link_to "新着",bokes_path
            %li
              = link_to "注目",""
            %li
              = link_to "人気",""
            %li
              = link_to "コラボ",""
            %li
              = link_to "セレクト",""
            %li
              = link_to "ピックアップ",""
            %li
              = link_to "殿堂入り",""
        #content
          .index-title
            新着ボケ一覧
          - @bokes.each do |boke,odai|
            .boke
            .boke-photo
              .boke-photo-content
                = link_to "" do
                  = image_tag boke.odai.image
                .boke-photo-meta
                  = link_to "" do
                    %i.fas.fa-camera
                    = boke.odai.user.name
                  &nbsp;
                  =link_to "" do
                    %i.far.fa-image
                    = boke.odai.user.name
            = link_to boke.text,"",class: "boke-text"
            .boke-meta
            .boke-information
              .boke-information-row.is-360
                .boke-stars
                  = link_to "" do
                    %i.fas.fa-star{style:"color:#ebbf2a"}
                    4772
                .boke-information-label
                  = link_to "２日くらい前",""
                %span.boke-share-social
                  = link_to "" do
                    %i.fab.fa-facebook-f
                %span.boke-share-social
                  = link_to "" do
                    %i.fab.fa-twitter
            .boke-information-row.ng-scope
              .boke-rate
                %i.fas.fa-times-circle.boke-rate-times{"data-id": "#{boke.id}"}
                - if boke.star_user(current_user.id,boke.id)
                  -if boke.star_status_3(current_user.id,boke.id)
                    %span.boke-rating
                      .a.star-3.decrement.fas.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                      .a.star-2.decrement.fas.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                      .a.star-1.decrement.fas.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                  -elsif boke.star_status_2(current_user.id,boke.id)
                    %span.boke-rating
                      .a.star-3.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                      .a.star-2.decrement.fas.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                      .a.star-1.decrement.fas.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                  -elsif boke.star_status_1(current_user.id,boke.id)
                    %span.boke-rating
                      .a.star-3.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                      .a.star-2.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                      .a.star-1.decrement.fas.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                -else
                  %span.boke-rating
                    .a.star-3.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                    .a.star-2.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}
                    .a.star-1.increment.far.fa-star{style:"color:#ebbf2a","data-id": "#{boke.id}"}



          %p.text-center
            = link_to "もっと読み込む","",class: "btn-primary btn btn-long"


      = render 'shared/right-container'
  = render 'shared/footer'
