.main
  = render 'shared/header'
  #wrapper
    #container
      #header-news
        %span#header-news-catch
          %h1.header-news-catch-heading
        %span#header-news-stats
          ボケ投稿数
          %b
            65450600
          件&nbsp;お題投稿数
          %b
            111223
          件&nbsp;

      #main-container
        .content-menu
          %ul.content-menu-list.inline-list
            %li
              = link_to "新着", odais_path
            %li
              = link_to "注目",""
            %li
              = link_to "人気",""
            %li
              = link_to "コラボ",""
            %li
              = link_to "セレクト",""
            %li
              = link_to "ピックアップ",""
            %li
              = link_to "殿堂入り",""

        #content
          .index-title
            このお題でボケる
          .text-center{style:"margin:0 auto 20px;"}
            = image_tag @odai.image,style:"width:300px;"
          .odai-meta
            .clearfix
              .pull-left
                = link_to "" do
                  %i.fas.fa-camera
                  = @odai.user.name
                &nbsp;
                = link_to "" do
                  %i.far.fa-image
                  = @odai.user.name

          - if current_user
            .form
              = form_for @boke, url: odai_bokes_path do |f|
                %label
                  ボケテキスト
                = f.text_field :text,placeholder:'ボケ入力',class: 'form-control input-lg'
                .form__mask
                %p.text-center
                  = f.submit 'Send',class: " btn-primary btn btn-long"



