.main
  = render 'shared/header'
  #wrapper
    #container
      = render 'shared/header-news'

      #main-container
        .content-menu
          %ul.content-menu-list.inline-list
            %li
              = link_to "新着", odais_path
            %li
              = link_to "注目",""
            %li
              = link_to "人気",""
            %li
              = link_to "コラボ",""
            %li
              = link_to "セレクト",""
            %li
              = link_to "ピックアップ",""
            %li
              = link_to "殿堂入り",""

        #content
          .index-title
            このお題でボケる
          /.boke
          .boke-photo
            .boke-photo-content
              = link_to "" do
                = image_tag @odai.image
                .boke-photo-meta
                  = link_to "" do
                    %i.fas.fa-camera
                    = @odai.user.name
                  &nbsp;
                  =link_to "" do
                    %i.far.fa-image
                    = @odai.user.name

          .form
            = form_for @boke, url: odai_bokes_path do |f|
              %label
                ボケテキスト
              = f.text_field :text,placeholder:'ボケ入力',class: 'form-control input-lg'
              .form__mask

              %label
                カテゴリ
              .boke-new-form-input-radio-container
                %label.radio-inline
                  = f.radio_button :category_id,8
                  バカ
                %label.radio-inline
                  = f.radio_button :category_id,9
                  シュール
                %label.radio-inline
                  = f.radio_button :category_id,10
                  お下劣
                %label.radio-inline
                  = f.radio_button :category_id,11
                  ブラック
                %label.radio-inline
                  = f.radio_button :category_id,12
                  身内
                %label.radio-inline
                  = f.radio_button :category_id,13
                  例え
                %label.radio-inline
                  = f.radio_button :category_id,14
                  その他
              %p.text-center
                = f.submit 'Send',class: " btn-primary btn btn-long"



      = render 'shared/right-container'
  = render 'shared/footer'





