= render 'shared/header'
#wrapper
  #container
    = render 'shared/header-news'

    #one-column-container
      #content
        .other-title
          ボケてアカウント新規登録 - 登録情報の入力
        %div
          %p
            仮登録ありがとうございました。以下のフォームから登録ユーザー情報を入力すると登録が完了となります。ボケてIDはログイン時に必要となりますのでお忘れないようお願いします。設定したIDによって、あなたのユーザーページが決まります。
            %br
          %p
            %code
              （例）http://bokete.jp/user/設定したID
          %p
            ニックネームは投稿時、コメント時に表示されます。
        %br
        .login-form
          .login-form-content
            %div
              メールアドレスの入力
              ▶
              仮登録メールの送受信
              ▶
              %b
                登録情報の入力
            %hr.white

            %div
              = devise_error_messages!
              = form_for(resource, as: resource_name, url: registration_path(resource_name), class: "ng-pristine ng-invalid-required ng-invalid") do |f|
                .form-group
                  = f.label :name, "ニックネーム（10文字以内）"
                  = f.text_field :name, autofocus: true, class: "form-control"
                .form-group
                  = f.label :"email", "メールアドレス"
                  = f.email_field :email, autofocus: true, class: "form-control"
                .form-group
                  = f.label :"password", "パスワード（4文字以上20文字以内）"
                  = f.password_field :password, class: "form-control"
                .form-group
                  = f.label :"password_confirmation", "パスワード（確認）"
                  = f.password_field :password_confirmation, class: "form-control"
                %div
                  = f.submit "送信", {class: "btn btn-primary btn-lg"}

      .bcl
        

    .clearfix
    <!-- / #main-container -->
  .clearfix
  <!-- /container -->
  = render 'accounts/scroll-top'
= render 'shared/footer'
