.comment
  .comment-content
    - @star = @stars.find_by(user_id: comment.user.id).status
    = link_to do
      - if @star > 0
        %i.fa.fa-star.fa-lg
      - else
        %i.far.fa-star.fa-lg
      - if @star > 1
        %i.fa.fa-star.fa-lg
      - else
        %i.far.fa-star.fa-lg
      - if @star > 2
        %i.fa.fa-star.fa-lg
      - else
        %i.far.fa-star.fa-lg
    .comment-picture
      - if comment.user.image.file.nil?
        = image_tag("//d3pb2x7032n52.cloudfront.net/static/images/user_icon.gif", :class => "user-icon")
      - else
        = image_tag(comment.user.image, :class => "user-icon")
    = link_to comment.user.name, user_path(comment.user.id)
    &nbsp;
    = comment.text
