.main
  = render 'shared/header'
  #wrapper
    #container
      = render 'shared/header-news'
      #main-container
        .content-menu
          %ul.content-menu-list.inline-list
            %li
              = link_to "新着", odais_path
            %li
              = link_to "注目",""
            %li
              = link_to "人気",""
            %li
              = link_to new_odai_boke_path(@odai_random) do
                %i.fas.fa-random
                無茶振り
            %li
              = link_to search_odais_path do
                %i.fas.fa-search
                お題検索
            %li
              = link_to new_odai_path do
                %i.fas.fa-upload
                お題投稿
        #content
          .content-boke
            .alert-create.alert-info.text-center
              %p
                = image_tag "boke_neko.png",style:"width:180px"
              %p
                お題の投稿が完了しました。
                %br
                サイト上に反映されるまで少し時間がかかる可能性があります。
              %br
              %p
                =link_to "新着お題へ",odais_path,class: "btn-primary btn btn-lg"

      = render 'shared/right-container'
  = render 'shared/footer'
