.main
  = render 'shared/header'
  #wrapper
    #container
      = render 'shared/header-news'
      #main-container
        .content-menu
          %ul.content-menu-list.inline-list
            %li
              = link_to "新着", odais_path
            %li
              = link_to "注目",""
            %li
              = link_to "人気",""
            %li
              = link_to "コラボ",""
            %li
              = link_to "ラベル",""
            %li
              = link_to "セレクト",""
            %li.content-menu-list-active
              = link_to new_odai_path do
                %i.fas.fa-upload
                お題投稿
        #content
          .index-title
            お題の投稿
          .text-center{style:"margin:0 auto 20px;"}
            = image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg",style:"width:300px;"
          .form
            = form_for @odai do |f|
              %label
                タイトル
              = f.text_field :title,placeholder:'タイトル入力',class: 'form-control input-lg'
              .form__mask
                = f.label :image do
                  = f.file_field :image
              %label
                カテゴリ
              .boke-new-form-input-radio-container
                %label.radio-inline
                  = f.radio_button :category_id,1
                  人物
                %label.radio-inline
                  = f.radio_button :category_id,2
                  人物2人以上
                %label.radio-inline
                  = f.radio_button :category_id,3
                  動物
                %label.radio-inline
                  = f.radio_button :category_id,4
                  風景
                %label.radio-inline
                  = f.radio_button :category_id,5
                  無機物
                %label.radio-inline
                  = f.radio_button :category_id,6
                  イラスト
                %label.radio-inline
                  = f.radio_button :category_id,7
                  その他
              %p.text-center
                = f.submit 'Send',class: " btn-primary btn btn-long"



      = render 'shared/right-container'
  = render 'shared/footer'
