.main
  = render 'shared/header'
  #wrapper
    #container
      = render 'shared/header-news'
      #main-container
        .content-menu
          %ul.content-menu-list.inline-list
            %li
              = link_to "新着", odais_path
            %li
              = link_to "注目",""
            %li
              = link_to "人気",""
            %li
              = link_to "コラボ",""
            %li
              = link_to "ラベル",""
            %li
              = link_to search_odais_path do
                %i.fas.fa-search
                お題検索
            %li.content-menu-list-active
              = link_to new_odai_path do
                %i.fas.fa-upload
                お題投稿
        #content
          .other-title
            %span.far.fa-image
            &nbsp;お題の投稿
          .gray-box
            %div{:style => "display:inline-table;"}
              .drag-area{:style => "background-image:url();"}
            = form_for @odai do |f|
              %div
                = f.label :image, class: "button btn btn-default" do
                  1.&nbsp;ファイルを選択
                  = f.file_field :image, class: "user-img"
              %br
              %label
                タイトル
              = f.text_field :title,placeholder:'タイトル入力',class: 'form-control input-lg'
              .form__mask
                = f.label :image do
                  = f.file_field :image,onchange:"previewFile()",type:"file"
              %label
                カテゴリ
              .boke-new-form-input-radio-container
                %label.radio-inline
                  = f.radio_button :category_id,1
                  人物
                %label.radio-inline
                  = f.radio_button :category_id,2
                  人物2人以上
                %label.radio-inline
                  = f.radio_button :category_id,3
                  動物
                %label.radio-inline
                  = f.radio_button :category_id,4
                  風景
                %label.radio-inline
                  = f.radio_button :category_id,5
                  無機物
                %label.radio-inline
                  = f.radio_button :category_id,6
                  イラスト
                %label.radio-inline
                  = f.radio_button :category_id,7
                  その他
              %br
              %div
                = f.submit '2. ファイルをアップロード',class: " btn-primary btn"



      = render 'shared/right-container'
  = render 'shared/footer'
