.main
  = render 'shared/header'
  #wrapper
    #container
      = render 'shared/header-news'
      #main-container
        .content-menu
          %ul.content-menu-list.inline-list
            %li
              = link_to "新着", odais_path
            %li
              = link_to "注目",""
            %li
              = link_to "人気",""
            %li
              = link_to new_odai_boke_path(@odai_random) do
                %i.fas.fa-random
                ランダム
            %li.content-menu-list-active
              = link_to search_odais_path do
                %i.fas.fa-search
                お題検索
            %li
              = link_to new_odai_path do
                %i.fas.fa-upload
                お題投稿
        #content
          .other-title
            %span.far.fa-image
            &nbsp;お題の検索
          %label
            お題を入力してください
          .form
            = form_tag(search_odais_path, :method => 'get' ) do
              = text_field_tag :search, '', placeholder:'#',class: 'form-control input-lg',id: "search"
            %br




            = render 'odai-search'

      = render 'shared/right-container'
  = render 'shared/footer'
