= render 'shared/header'
#wrapper
  #container
    = render 'shared/header-news'

    #main-container
      .content-menu
        %ul.content-menu-list.inline-list
          %li
            = link_to "プロフィール", user_path(id:@user.id)
          %li.content-menu-list-active
            = link_to "ボケ", boke_user_path(id:@user.id)
          %li
            = link_to "お題", odai_user_path(id:@user.id)
          %li
            = link_to "お気に入り職人", "/user/#{current_user.id}/favorites"
          %li
            = link_to "ボケコレ", ratings3_user_path(id:@user.id)

      #content
        .other-title
          = @user.name
          さんの投稿したボケ

        .text-center
          .btn-group.content-submenu
            = link_to "新着", "#", class: "btn btn-default active-category"
            = link_to "評価順", "#", class: "btn btn-default"
        = render 'bokes/boke-list'
        .pager

      .bcl
        = render 'accounts/bcl'

    = render 'shared/right-container'
    .clearfix

  = render 'accounts/scroll-top'
= render 'shared/footer'
