= render 'shared/header'
#wrapper
  #container
    = render 'shared/header-news'

    #main-container
      .content-menu
        %ul.content-menu-list.inline-list
          %li
            = link_to "プロフィール", user_path(id:@user.id)
          %li
            = link_to "ボケ", boke_user_path(id:@user.id)
          %li
            = link_to "お題", odai_user_path(id:@user.id)
          %li.content-menu-list-active
            = link_to "お気に入り職人", favorites_user_path(id:@user.id)
          %li
            = link_to ratings3_user_path(id:@user.id) do
              %i.fa.fa-star
              &nbsp; 評価したボケ

      #content
        .text-center
          .btn-group.content-submenu
            = link_to "お気に入り職人", "#", class: "btn btn-default active-category"
            = link_to "お気に入られ職人", "#", class: "btn btn-default"

        .other-title
          = current_user.name
          さんのお気に入り職人

        #my
          .user-content
            = link_to "#" do
              %img{:src => "//d3pb2x7032n52.cloudfront.net/static/images/user_img.gif"}
            = link_to "#" do
              %span sample
          .user-content
            = link_to "#" do
              %img{:src => "//d3pb2x7032n52.cloudfront.net/static/images/user_img.gif"}
            = link_to "#" do
              %span sample
          .user-content
            = link_to "#" do
              %img{:src => "//d3pb2x7032n52.cloudfront.net/static/images/user_img.gif"}
            = link_to "#" do
              %span sample
          .user-content
            = link_to "#" do
              %img{:src => "//d3pb2x7032n52.cloudfront.net/static/images/user_img.gif"}
            = link_to "#" do
              %span sample
          .user-content
            = link_to "#" do
              %img{:src => "//d3pb2x7032n52.cloudfront.net/static/images/user_img.gif"}
            = link_to "#" do
              %span sample

        .pager

      .bcl
        = render 'accounts/bcl'

    = render 'shared/right-container'
    .clearfix

  = render 'accounts/scroll-top'
= render 'shared/footer'
