= render 'shared/header'
#wrapper
  #container
    = render 'shared/header-news'

    #main-container
      .content-menu
        %ul.content-menu-list.inline-list
          %li
            = link_to "プロフィール", user_path(id:current_user.id)
          %li
            = link_to "ボケ", boke_user_path(id:current_user.id)
          %li
            = link_to "お題", odai_user_path(id:current_user.id)
          %li
            = link_to "お気に入り職人", "/user/#{current_user.id}/favorites"
          %li.content-menu-list-active
            = link_to "ボケコレ", ratings3_user_path(id:current_user.id)

      #content
        .text-center
          .btn-group.content-submenu
            = link_to "★★★", ratings3_user_path(id:current_user.id), class: "btn btn-default"
            = link_to "★★", ratings2_user_path(id:current_user.id), class: "btn btn-default active-category"
            = link_to "★", ratings1_user_path(id:current_user.id), class: "btn btn-default"

        .other-title
          = current_user.name
          さんのボケコレクション

        #my
          -# サンプル --------------------------------
          = render 'bokes/boke-list'
          -# ----------------------------------------

      .bcl
        = render 'accounts/bcl'

    = render 'shared/right-container'
    .clearfix

  = render 'accounts/scroll-top'
= render 'shared/footer'
