= render 'shared/header'
#wrapper
  #container
    = render 'shared/header-news'

    #main-container
      .content-menu
        %ul.content-menu-list.inline-list
          %li
            = link_to "プロフィール", user_path(id:@user.id)
          %li
            = link_to "ボケ", boke_user_path(id:@user.id)
          %li
            = link_to "お題", odai_user_path(id:@user.id)
          %li
            = link_to "お気に入り職人", favorites_user_path(id:@user.id)
          %li.content-menu-list-active
            = link_to ratings3_user_path(id:@user.id) do
              %i.fa.fa-star
              &nbsp; 評価したボケ

      #content
        .text-center
          .btn-group.content-submenu
            = link_to "★★★", ratings3_user_path(id:@user.id), class: "btn btn-default active-category"
            = link_to "★★", ratings2_user_path(id:@user.id), class: "btn btn-default"
            = link_to "★", ratings1_user_path(id:@user.id), class: "btn btn-default"

        .other-title
          = @user.name
          さんのボケコレクション

        #my
          -# サンプル --------------------------------
          = render 'bokes/boke-list'
          -# ----------------------------------------

      .bcl
        = render 'accounts/bcl'

    = render 'shared/right-container'
    .clearfix

  = render 'accounts/scroll-top'
= render 'shared/footer'
