= render 'shared/header'
#wrapper
  #container
    = render 'shared/header-news'

    #main-container
      .content-menu
        %ul.content-menu-list.inline-list
          %li.content-menu-list-active
            = link_to "プロフィール", user_path(id:@user.id)
          %li
            = link_to "ボケ", boke_user_path(id:@user.id)
          %li
            = link_to "お題", odai_user_path(id:@user.id)
          %li
            = link_to "お気に入り職人", favorites_user_path(id:@user.id)
          %li
            = link_to ratings3_user_path(id:@user.id) do
              %i.fa.fa-star
              &nbsp; 評価したボケ

      #content.content-boke.content-top-left-radius-none
        .user-info
          .user-info-photo
            - if @user.image.file.nil?
              = image_tag "user_img.gif"
            - else
              = image_tag @user.image
          .user-info-profile
            .user-info-profile-title
              = @user.name
              さんのページ
            %table.table
              %tbody
                %tr
                  %td{:width => "120"}
                    %i.fa.fa-check
                    &nbsp; ボケてID
                  %td
                    = @user.name
                %tr
                  %td
                    %i.fa.fa-star{:style => "color:#000"}
                    &nbsp; 星の合計
                  %td
                    = @sum
                %tr
                  %td
                    %i.fa.fa-comment
                    &nbsp; ボケ投稿数
                  %td
                    = @bokes.count
                %tr
                  %td
                    %i.far.fa-image
                    &nbsp; お題投稿数
                  %td
                    = @odais.count

        .user-index-widget
          .other-title
            = @user.name
            さんの最近投稿したボケ
          .user-index-widget-content
            = render 'users/boke-horizon'

            .clear

          .text-right
            = link_to "" do
              = @user.name
              さんの評価したボケをもっとみる

          = link_to ""

        = link_to ""

      = link_to ""

      .bcl
        = render 'accounts/bcl'

    = render 'shared/right-container'
    .clearfix

  = render 'accounts/scroll-top'
= render 'shared/footer'
