#footer
  .row.footer-list
    .col-md-3
      %b
        ボケを見る
      %br
      %ul
        %li
          = link_to "殿堂入り",""
        %li
          = link_to "人気ポケ",""
        %li
          = link_to "注目ボケ",""
        %li
          = link_to "新着ボケ",""
        %li
          = link_to "セレクト",""
        %li
          = link_to "ピックアップ",""
    .col-md-3
      %b
        ボケを探す
      %br
      %ul
        %li
          = link_to "人気のタグから探す",""
        %li
          = link_to "キーワードから探す",""
        %li
          = link_to "ラベルから探す",""
    .col-md-3
      %b
        ご利用について
      %br
      %ul
        %li
          = link_to "プライバシーポリシー",""
        %li
          = link_to "ご利用規約",""
        %li
          = link_to "ヘルプ・よくある質問",""
        %li
          = link_to "お問い合わせ",""
        %li
          = link_to "広告掲載について",""
    .col-md-3
      %b
        会社について
      %br
      %ul
        %li
          = link_to "運営会社",""
  %hr
  .adress
    Copyright © ボケて（bokete）All rights reserved. 株式会社オモロキ
