.fixed
  #top-bar
    #top-navi
      %ul.title-area
        %li.name
          =link_to root_path do
            = image_tag "logo.png",class: "logo_bokete"
      .top-bar-section
        %ul.left
          %li
            = link_to "https://bokete.jp/"do
              %p.left__style ボケ
          %li
            = link_to "https://bokete.jp/"do
              %p.left__style お題
          %li
            = link_to "https://bokete.jp/"do
              %p.left__style 職人
        %ul.right
          %li
            = link_to "https://www.yahoo.co.jp/" do
              = image_tag "wood_pattern.png",class: "user-icon-top-bar"
              %p.right__style ayk6611
          %li
            = link_to "https://www.yahoo.co.jp/" do
              %p.right__style マイページ
          %li
            = link_to "https://www.yahoo.co.jp/" do
              %p.right__style ヘルプ
