.fixed
  #top-bar
    #top-navi
      %ul.title-area
        %li.name
          =link_to root_path do
            = image_tag "logo.png",class: "logo_bokete"
      .top-bar-section
        %ul.left
          %li.left__style
            = link_to "ボケ",""
          %li.left__style
            = link_to "お題",odais_path
          %li.left__style
            = link_to "職人",""
        %ul.right
          %li.right__style
            = link_to "" do
              = image_tag "wood_pattern.png",class: "user-icon-top-bar"
              ayk6611
          %li.right__style
            = link_to "マイページ",""
          %li.right__style
            = link_to "ヘルプ",""
