#right-container
  .side-widget
    .side-widget-title
      最近のコメント
    .side-widget-content
      %ul
        %li
          %dl
            %dt
              = link_to "" do
                = image_tag "wood_pattern.png" ,class: "user-icon"
            %dd
              = link_to "aaaaaaaaaaaa",""
        %li
          %dl
            %dt
              = link_to "" do
                = image_tag "wood_pattern.png" ,class: "user-icon"
            %dd
              = link_to "aaaaaaaaaaaa",""
  .side-widget
    .side-widget-title
      最近の評価されている職人
    .side-widget-content
      %ul
        %li
          %dl
            %dt
              = link_to "" do
                = image_tag "wood_pattern.png" ,class: "user-icon"
            %dd
              = link_to "ユーザー名",""
        %li
          %dl
            %dt
              = link_to "" do
                = image_tag "wood_pattern.png" ,class: "user-icon"
            %dd
              = link_to "中内",""
  .side-app
    = link_to "" do
      = image_tag "app_banner_apple.png"
    = link_to "" do
      = image_tag "app_banner_google.png"

#scroll-top.text-right
  = link_to "ページのトップへ戻る","",class: "btn-primary btn"
