#right-container
  .side-widget
    .side-widget-title
      最近のコメント
    .side-widget-content
      %ul
        - Comment.all.order("created_at DESC").each do |comment|
          %li
            %dl
              %dt

                - if comment.user.image.file.nil?
                  = image_tag "//d3pb2x7032n52.cloudfront.net/static/images/user_icon.gif", class: "user-icon-top-bar"
                - else
                  = image_tag comment.user.image, class: "user-icon-top-bar"
              %dd
                = link_to comment.text,""
  .side-widget
    .side-widget-title
      最近登録された職人
    .side-widget-content
      %ul
        - User.all.order("created_at DESC").each do |user|
          %li
            %dl
              %dt
                - if user.image.file.nil?
                  = image_tag "//d3pb2x7032n52.cloudfront.net/static/images/user_icon.gif", class: "user-icon-top-bar"
                - else
                  = image_tag user.image, class: "user-icon-top-bar"
              %dd
                = link_to user.name,user_path(id:user.id)
  .side-app
    = link_to "" do
      = image_tag "app_banner_apple.png"
    = link_to "" do
      = image_tag "app_banner_google.png"

#scroll-top.text-right
  %bottun.btn-primary.btn#scroll-top-button
    ページのトップへ戻る
