.main
  = render 'shared/header'
  #wrapper
    #container
      = render 'shared/header-news'
      #one-column-container
        #content.textcenter
          .panel-notlogin.panel-danger
            .panel-body
              %b
                ボケたりお題投稿するには、ログインするか新規登録が必要です。
          .little-margin-img.text-center
            = image_tag "boke_neko_02.png"
          %p.text-center
            = link_to "新規登録（無料）",new_user_registration_path,class:"btn-primary btn"
            = link_to "ログイン",new_user_session_path,class:"btn-primary btn"
          %br
          %p.text-center
            サービスの基本料金はすべて無料！
            %br
            ボケの閲覧以外は
            = link_to "新規登録",new_user_registration_path,class:"sinkitouroku"
            が必要です。
    #scroll-top.text-right
      = link_to "ページのトップへ戻る","",class: "btn-primary btn"


      / #main-container
      /   #content
      /     .content-boke
      /       .alert-create.alert-info.text-center
      /         %p
      /           = image_tag "boke_neko.png",style:"width:180px"
      /         %p
      /           お題の投稿が完了しました。
      /           %br
      /           サイト上に反映されるまで少し時間がかかる可能性があります。
      /         %br
      /         %p
      /           =link_to "新着お題へ",odais_path,class: "btn-primary btn btn-lg"

      / = render 'shared/right-container'
  = render 'shared/footer'
