.content-menu
  %ul.content-menu-list.inline-list
    %li.content-menu-list-active
      = link_to "プロフィール", "/user/#{current_user.id}"
    %li
      = link_to "ボケ", "/user/#{current_user.id}/boke"
    %li
      = link_to "お題", "/user/#{current_user.id}/odai"
    %li
      = link_to "お気に入り職人", "/user/#{current_user.id}/favorites"
    %li
      = link_to "ボケコレ", "/user/#{current_user.id}/ratings"
