= render 'shared/header'
#wrapper
  #container
    = render 'shared/header-news'

    #main-container
      = render 'user/content-menu'

      #content
        .other-title
          = current_user.name
          さんの投稿したお題

        .text-center
          .btn-group.content-submenu
            = link_to "新着", "#", class: "btn btn-default active-category"
            = link_to "ボケられた順", "#", class: "btn btn-default"

        .pager


      .bcl
        = render 'mypage_shared/bcl'

    = render 'mypage_shared/right-container'
    .clearfix

  = render 'mypage_shared/scroll-top'
= render 'shared/footer'
