= render 'shared/header'
#wrapper
  #container
    = render 'shared/header-news'

    #main-container
      = render 'user/content-menu'

      #content
        .text-center
          .btn-group.content-submenu
            = link_to "★★★", "#", class: "btn btn-default active-category"
            = link_to "★★", "#", class: "btn btn-default"
            = link_to "★", "#", class: "btn btn-default"

        .other-title
          = current_user.name
          さんのボケコレクション

        #my
          -# サンプル --------------------------------
          = render 'user/sample_boke'
          = render 'user/sample_boke'
          -# ----------------------------------------

      .bcl
        = render 'accounts/bcl'

    = render 'accounts/right-container'
    .clearfix

  = render 'accounts/scroll-top'
= render 'shared/footer'
