.main
  = render 'shared/header'
  #wrapper
    #container
      = render 'shared/header-news'

      #main-container
        .content-menu
          %ul.content-menu-list.inline-list
            %li
              = link_to "新着",bokes_path
            %li
              = link_to "注目",""
            %li
              = link_to "人気",""
            %li
              = link_to "コラボ",""
            %li
              = link_to "セレクト",""
            %li
              = link_to "ピックアップ",""
            %li.content-menu-list-active
              = link_to "殿堂入り",legends_path
        #content
          .index-title
            殿堂入りボケ

          .text-center
            .btn-group.category-tab-menu
              %label.category-element.active-category
                = link_to "全カテゴリ",legends_path
              %label.category-element
                = link_to "バカ",baka_legends_path
              %label.category-element
                = link_to "シュール",surreal_legends_path
              %label.category-element
                = link_to "お下劣",ogeretu_legends_path
              %label.category-element
                = link_to "ブラック",black_legends_path
              %label.category-element
                = link_to "身内",relative_legends_path
              %label.category-element
                = link_to "例え",example_legends_path
              %label.category-element
                = link_to "その他",other_legends_path
          = render 'bokes/boke-list'
          .pager
            = paginate(@bokes)

      = render 'shared/right-container'
  = render 'shared/footer'
