- @bokes_favorite.each do |boke,odai|
  .boke-horizon
    = link_to new_odai_boke_path(boke.odai),class: "photo" do
      = image_tag(boke.odai.image)
    .photo-meta
      = link_to "" do
        %i.fas.fa-camera
        = boke.odai.user.name
      &nbsp;
      = link_to "" do
        %i.far.fa-image
        = boke.odai.user.name
    .text
      = link_to boke.text,""
    .rating
      = link_to "#" do
        %i.fa.fa-star.fa-lg
        &nbsp;
        %b
          = boke.status_calculation(boke.id,boke.stars)
