.boke-horizon
  = link_to "",class: "photo" do
    = image_tag "wood_pattern.png"
  .photo-meta
    = link_to "" do
      %i.fas.fa-camera
      (写真投稿者)
    &nbsp;
    = link_to "" do
      %i.far.fa-image
      (お題投稿者)
  .text
    sample
  .rating
    = link_to "#" do
      %i.fa.fa-star.fa-lg
      &nbsp;
      %b
        100
