= render 'shared/header'
#wrapper
  #container
    = render 'shared/header-news'

    #main-container
      = render 'accounts/setting_content-menu'

      #content
        .text-center
          .btn-group.category-tab-menu
            %label.category-element
              = link_to "プロフィール編集", account_path, method: :get
            %label.category-element
              = link_to "プロフィール写真変更", account_photo_path, method: :get
            %label.category-element
              = link_to "パスワード変更", account_password_path, method: :get
            %label.category-element.active-category
              = link_to "メアド変更", account_email_path, method: :get
            %label.category-element
              = link_to "退会手続き", account_delete_path, method: :get

        .other-title
          メールアドレスの変更

        .ng-scope{style: "width:600px;margin:0 auto;"}

          = form_for (current_user), html: {name: "validation_form", class: "form-horizontal ng-pristine ng-valid ng-valid-required"} do |f|
            .form-group
              %label.control-label.col-sm-4
                メールアドレス
              .col-sm-8
                %b
                  = current_user.email
            .form-group
              = f.label :email, "新しいメールアドレス", class: "control-label col-sm-4"
              .col-sm-8
                = f.email_field :email, class: "form-control ng-pristine ng-invalid ng-invalid-required ng-valid-email", placeholder: "yourname@example.com", required: true, value: ""
            %br
            .panel.panel-default
              .panel-body
                新しいメールアドレスに確認のメールが送信されます。
                %br
                携帯電話やスマートフォンキャリアのアドレスを使用の方は、
                %br
                必ず
                %b
                  omoroki.com
                ドメインからのメールを受信可能な設定にしてから
                %br
                以下の「変更」ボタンを押して下さい。
            .text-center
              .col-sm-offset-4.col-sm-4
                = f.submit "変更", class: "btn btn-primary button"

      .bcl

    = render 'shared/right-container'
    .clearfix

  = render 'accounts/scroll-top'
= render 'shared/footer'
