= render 'shared/header'
#wrapper
  #container
    = render 'shared/header-news'

    #main-container
      .content-menu
        %ul.content-menu-list.inline-list.mypage_menu_list
          %li
            = link_to "マイページ", my_path
          %li
            = link_to "設定", account_path(current_user)
          %li.content-menu-list-active
            = link_to "ミュート", mute_path
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete

      #content

        #my
          .other-title
            ミュートしているユーザー
          .text-center
            ミュートしているユーザーはいません


      .bcl
        = render 'accounts/bcl'

    = render 'accounts/right-container'
    .clearfix

  = render 'accounts/scroll-top'
= render 'shared/footer'
