= render 'shared/header'
#wrapper
  #container
    = render 'shared/header-news'

    #one-column-container
      .content-menu
        %ul.content-menu-list.inline-list.mypage_menu_list
          %li.content-menu-list-active
            = link_to "マイページ", my_path
          %li
            = link_to "設定", account_path(current_user)
          %li
            = link_to "ミュート", mute_path
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete

      #content.content-top-left-radius-none
        .my-feed
          .other-title
            お気に入り職人の新着ボケ
          .text-center
            お気に入りしているユーザーはいません

        .pager

      .bcl
      .clearfix

    .clearfix
  = render 'accounts/scroll-top'
= render 'shared/footer'
