= render 'shared/header'
#wrapper
  #container
    = render 'shared/header-news'

    #one-column-container
      .content-menu
        %ul.content-menu-list.inline-list.mypage_menu_list
          %li.content-menu-list-active
            = link_to "マイページ", my_path
          %li
            = link_to "設定", account_path(current_user)
          %li
            = link_to "ミュート", mute_path
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete

      #content.content-top-left-radius-none
        .my-feed
          .other-title
            お気に入り職人の新着ボケ

          .boke
            .boke-photo
              .boke-photo-content
                = link_to "" do
                  = image_tag "wood_pattern.png"
                .boke-photo-meta
                  = link_to "" do
                    %i.fas.fa-camera
                    photo by (写真投稿者)
                    &nbsp;
                  =link_to "" do
                    %i.far.fa-image
                    odai by (お題投稿者)
            = link_to "sample","",class: "boke-text"
            .boke-meta
              .boke-information
                .boke-information-row.is-360
                  .boke-stars
                    = link_to "" do
                      %i.fas.fa-star{style:"color:#ebbf2a"}
                      0
                  .boke-information-label
                    = link_to "30分くらい前",""
                  %span.boke-share-social
                    = link_to "" do
                      %i.fab.fa-facebook-f
                  %span.boke-share-social
                    = link_to "" do
                      %i.fab.fa-twitter
              .ng-scope
              .boke-information-row.ng-scope
                .boke-rate
                  = link_to "" do
                    .fa.fa-times-circle.fa-lg.boke-rate-times
                  %span.boke-rating
                    = link_to "" do
                      .far.fa-star.fa-lg.boke-rating-star
                    = link_to "" do
                      .far.fa-star.fa-lg.boke-rating-star
                    = link_to "" do
                      .far.fa-star.fa-lg.boke-rating-star

          .boke
            .boke-photo
              .boke-photo-content
                = link_to "" do
                  = image_tag "wood_pattern.png"
                .boke-photo-meta
                  = link_to "" do
                    %i.fas.fa-camera
                    photo by (写真投稿者)
                    &nbsp;
                  =link_to "" do
                    %i.far.fa-image
                    odai by (お題投稿者)
            = link_to "sample","",class: "boke-text"
            .boke-meta
              .boke-information
                .boke-information-row.is-360
                  .boke-stars
                    = link_to "" do
                      %i.fas.fa-star{style:"color:#ebbf2a"}
                      0
                  .boke-information-label
                    = link_to "30分くらい前",""
                  %span.boke-share-social
                    = link_to "" do
                      %i.fab.fa-facebook-f
                  %span.boke-share-social
                    = link_to "" do
                      %i.fab.fa-twitter
              .ng-scope
              .boke-information-row.ng-scope
                .boke-rate
                  = link_to "" do
                    .fa.fa-times-circle.fa-lg.boke-rate-times
                  %span.boke-rating
                    = link_to "" do
                      .far.fa-star.fa-lg.boke-rating-star
                    = link_to "" do
                      .far.fa-star.fa-lg.boke-rating-star
                    = link_to "" do
                      .far.fa-star.fa-lg.boke-rating-star


        .pager
          -#  ページネーション

      .bcl
        = render 'accounts/bcl'
      .clearfix

    .clearfix
  = render 'accounts/scroll-top'
= render 'shared/footer'
