= render 'shared/header'
#wrapper
  #container
    = render 'shared/header-news'

    #main-container
      = render 'accounts/setting_content-menu'

      #content
        .text-center
          .btn-group.category-tab-menu
            %label.category-element
              = link_to "プロフィール編集", account_path, method: :get
            %label.category-element
              = link_to "プロフィール写真変更", account_photo_path, method: :get
            %label.category-element.active-category
              = link_to "パスワード変更", account_password_path, method: :get
            %label.category-element
              = link_to "メアド変更", account_email_path, method: :get
            %label.category-element
              = link_to "退会手続き", account_delete_path, method: :get

        .other-title
          パスワードの変更

        .ng-scope
          - if @error_message
            .alert.alert-danger.ng-hide
              %ul
                %li.ng-binding.ng-scope
                  = @error_message

          - else
            %ul
          - if !@password_change
            = form_for(current_user, url: users_password_upadate_path, method: :put, html: { class: "form-horizontal ng-pristine ng-invalid ng-invalid-required"}) do |f|
              .form-group
                = f.label :current_password, "現在のパスワード", class: "control-label col-sm-6"
                .col-sm-6
                  = f.password_field :current_password, class: "form-control ng-pristine ng-invalid ng-invalid-required", required: true, value: ""
              .form-group
                = f.label :new_password, "新しいパスワード（4文字以上20文字以内）", class: "control-label col-sm-6"
                .col-sm-6
                  = f.password_field :new_password, class: "form-control ng-pristine ng-valid ng-valid-minlength", value: ""
              .form-group
                = f.label :password_confirmation, "新しいパスワードの確認", class: "control-label col-sm-6"
                .col-sm-6
                  = f.password_field :password_confirmation, class: "form-control ng-pristine ng-valid ng-valid-minlength", value: ""
              .text-center
                = f.submit "更新", class: "btn btn-primary button"
          - else
            .alert.alert-success
              パスワードが変更されました

      .bcl

    = render 'shared/right-container'
    .clearfix

  = render 'accounts/scroll-top'
= render 'shared/footer'
