= render 'shared/header'
#wrapper
  #container
    = render 'shared/header-news'

    #main-container
      = render 'accounts/setting_content-menu'

      #content
        .text-center
          .btn-group.category-tab-menu
            %label.category-element
              = link_to "プロフィール編集", account_path, method: :get
            %label.category-element.active-category
              = link_to "プロフィール写真変更", account_photo_path, method: :get
            %label.category-element
              = link_to "パスワード変更", account_password_path, method: :get
            %label.category-element
              = link_to "メアド変更", account_email_path, method: :get
            %label.category-element
              = link_to "退会手続き", account_delete_path, method: :get


        .other-title
          プロフィール写真のアップロード・変更

        .gray-box.ng-scope
          %div{style: "display:inline-table;"}
            .drag-area{style: "background-image:url();"}

          = form_for (current_user), html: {class: "ng-pristine ng-valid"} do |f|
            %div
              = f.label :image, class: "button btn btn-default" do
                ファイルを選択
                = f.file_field :image, class: "user-img"
            %br
            %div
              = f.submit "アップロード", class: "btn btn-primary"

        #preview_field

        .alert.alert-warning
          %ul
            %li
              写真・画像は5MB以内でファイル形式
              %code
                \.gif .jpg .png
              をサポートしています。
            %li
              登録写真について、別人の写真の利用、他のユーザーや、運営事務局に迷惑がかかることを禁止しています。必ず
              = link_to "#" do
                利用規約
              をご確認のうえ投稿をお願いいたします。

      .bcl
        = render 'accounts/bcl'

    = render 'accounts/right-container'
    .clearfix

  = render 'accounts/scroll-top'
= render 'shared/footer'
